@import url('https://fonts.googleapis.com/css2?family=Lato&family=Readex+Pro:wght@600&display=swap');

body {
    text-align: center;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 100px;
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(255, 188, 152);
}

.title {
    font-family: 'Readex Pro', sans-serif;
    font-size: 90px;
    font-weight: bold;
    color:rgb(38, 6, 18);
}

.subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* Styling for login page */
.login-page {
    margin-top: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.login-button {
    position: relative;
    left: 0px;
    top: 60px;
}

a.login:link, a.login:visited {
    display: inline-block;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: rgb(255, 188, 152);
    background-color: rgb(17, 66, 19);
    padding: 14px 25px;
    border-radius: 25px;
}

a.login:hover {
    background-color:rgb(62, 97, 75);
}

/* Welcome message and author styling */
#welcome {
    position: relative;
    left: 0px;
    top: 20px;
    color: rgb(57, 104, 75);
    font-size: 24px;
    font-family: 'Readex Pro', sans-serif;
}

#author {
    position: relative;
    left: 0px;
    top: 110px;
}

/* Styling for logged in user pictogram and logout*/
.user-details {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    position: relative;
    left: 450px;
    top: 150px;
    line-height: 2;
}

#user-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.logout {
    font-size: 15px;
}

a.logout, a.logout:visited, a.logout:active {
    color: inherit;
  }

a.logout:hover {
    color: rgb(62, 97, 75);
}

/* Styling for tabs */
.react-tabs {
    -webkit-tap-highlight-color: transparent;
    font-family: 'Readex Pro', sans-serif;
    font-size: 20px;
    color: rgb(38, 6, 18);
  }
  
.react-tabs__tab-list {
    margin: 0 0 10px;
    padding: 0;
}
  
.react-tabs__tab {
    display: inline-block;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 25px;
}
  
.react-tabs__tab--selected {
    color: rgb(20, 130, 115);
    border-radius: 5px 5px 0 0;
    border-bottom: 6px solid;
    border-color: rgb(179, 172, 167);
}
  
.react-tabs__tab-panel {
    display: none;
}
  
.react-tabs__tab-panel--selected {
    display: block;
}

/* Styling for audio player on Top Tracks page */
audio {
    width: 280px;
    height: 50px;
}

audio::-webkit-media-controls-panel {
    background-color: white;
}

/* General card displayal for top items, layout inspiration from:
https://stackoverflow.com/questions/52669681/align-card-buttons-on-bottom-material-ui */
.card__body {
    display: flex;
    flex: 1 0 auto;
    align-items: flex-end;
    justify-content: center;
}

.card__image {
    height: 300px;
    width: 300px;
    border-radius: 5px;
}

.card__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

/* Top tracks card design */
.card-track {
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .13);
    background: white;
    border-radius: 5px;
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
}

/* Top artists card design */
.card-artist {
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .13);
    background: white;
    border-radius: 5px;
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
}

.card__body-artist {
    align-items: stretch;
    margin-top: 35px;
}

/* Card design for summary tab */
.card-summary {
    padding: 10px;
    background: rgb(131, 130, 115);
    font-family: 'Readex Pro', sans-serif;
    margin: auto;
    height: 555px;
    width: 745px;
    position: relative;
}

.card__image-summary {
    display: block;
    position: sticky;
    overflow: auto;
    right: 200px;
    width: 300px;
    margin: 10px;
    margin-bottom: 0px;
}

.card__body-summary {
    text-align: left;
    display: inline-block;
    position: absolute;
    margin: 15px;
    width: 340px;
    font-size: 22px;
}

.summary-subtitle {
    font-size: 34px;
    color: rgb(218, 53, 12);
    margin-top: 3px;
}

#artistsSum {
    line-height: 1.8;
    top: 0px;
}

#tracksSum {
    line-height: 1.8;
    top: 266px;
}

#genresSum {
    line-height: 1.7;
    font-size: 30px;
    left: 10px;
}